In [26]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [27]:
train = pd.read_csv('../data/train.csv', index_col=0)
test = pd.read_csv('../data/test.csv', index_col=0)
weather = pd.read_csv('../data/weather.csv', index_col=0)
meta = pd.read_csv('../data/metadata.csv')
holidays = pd.read_csv('../data/holidays.csv', delimiter=';')

### Weather Data

In [28]:
weather.head()

                  Timestamp  Temperature   Distance  SiteId
78064   2013-12-31 19:00:00         -7.2  24.889929       1
86746   2013-12-31 19:00:00         -8.3  23.303097       1
90002   2013-12-31 19:00:00         -7.8  20.952256       1
90003   2013-12-31 19:00:00         -8.0  20.952256       1
100541  2013-12-31 19:34:00         -8.1  16.610602       1

### Meta Data

In [29]:
meta.isna().sum()

SiteId               0
Surface              0
Sampling             0
BaseTemperature      0
MondayIsDayOff       0
TuesdayIsDayOff      0
WednesdayIsDayOff    0
ThursdayIsDayOff     0
FridayIsDayOff       0
SaturdayIsDayOff     0
SundayIsDayOff       0
dtype: int64

In [30]:
meta.head(20)

,SiteId,Surface,Sampling,BaseTemperature,MondayIsDayOff,TuesdayIsDayOff,WednesdayIsDayOff,ThursdayIsDayOff,FridayIsDayOff,SaturdayIsDayOff,SundayIsDayOff
0,1,1387.205119,15.0,18.0,False,False,False,False,False,True,True
1,2,6098.278376,30.0,18.0,False,False,False,False,False,True,True
2,3,10556.293605,5.0,18.0,False,False,False,False,False,True,False
3,5,12541.181277,30.0,18.0,False,False,False,False,False,True,True
4,6,9150.195373,30.0,18.0,False,False,False,False,False,True,True
5,7,15168.125971,30.0,18.0,False,False,False,False,False,True,True
6,8,22221.851847,30.0,18.0,False,False,False,False,False,True,True
7,9,14588.849015,30.0,18.0,False,False,False,False,False,True,True
8,10,6393.671251,30.0,18.0,False,False,False,False,False,True,True
9,11,2517.739425,30.0,18.0,False,False,False,False,False,True,True
10,12,33676.246551,15.0,18.0,False,False,False,False,False,True,True
11,13,891.487850,15.0,18.0,False,False,False,False,False,True,True
12,14,702.101695,15.0,18.0,False,False,False,False,False,True,True
13,15,1416.796369,15.0,18.0,False,False,False,False,False,True,True
14,16,1218.738383,15.0,18.0,False,False,False,False,False,True,True
15,17,1625.837520,15.0,18.0,False,False,False,False,False,True,True
16,18,677.533195,15.0,18.0,False,False,False,False,False,True,True
17,19,613.820937,30.0,18.0,False,False,False,False,False,True,True
18,20,17449.241936,10.0,18.0,False,False,False,False,False,True,True
19,21,10985.292634,10.0,18.0,False,False,False,False,False,True,True

In [31]:
meta.isna().sum()

SiteId               0
Surface              0
Sampling             0
BaseTemperature      0
MondayIsDayOff       0
TuesdayIsDayOff      0
WednesdayIsDayOff    0
ThursdayIsDayOff     0
FridayIsDayOff       0
SaturdayIsDayOff     0
SundayIsDayOff       0
dtype: int64

### Holidays Data

In [32]:
holidays.head()

         Date                   Holiday  SiteId
0  2016-12-23  Christmas Eve (Observed)       1
1  2016-12-24             Christmas Eve       1
2  2017-07-04          Independence Day       1
3  2014-11-04              Election Day       1
4  2016-09-05                 Labor Day      12

In [33]:
holidays.isna().sum()

Date       0
Holiday    0
SiteId     0
dtype: int64

### Test Data

In [34]:
test.query('SiteId == 20')

         SiteId            Timestamp  ForecastId          Value
obs_id
3769391      20  2016-02-09 22:00:00         634  173322.308988
5158850      20  2016-02-09 23:00:00         634  175211.436698
6033149      20  2016-02-10 00:00:00         634  227494.864074
5960648      20  2016-02-10 01:00:00         634  288062.871938
7821621      20  2016-02-10 02:00:00         634  298587.455325
...         ...                  ...         ...            ...
6524424      20  2017-11-04 20:00:00         647  164162.489030
2415874      20  2017-11-04 21:00:00         647  165767.034135
1432775      20  2017-11-04 22:00:00         647  165227.009158
6335607      20  2017-11-04 23:00:00         647  166389.390454
7204969      20  2017-11-05 00:00:00         647  165328.258388

[2687 rows x 4 columns]

In [35]:
test.head()

         SiteId            Timestamp  ForecastId         Value
obs_id
1677832       1  2015-08-29 00:00:00           1  7.413780e+06
5379616       1  2015-08-30 00:00:00           1  8.927612e+06
496261        1  2015-08-31 00:00:00           1  7.288439e+06
4567147       1  2015-09-01 00:00:00           1  8.399679e+06
3684873       1  2015-09-02 00:00:00           1  7.576456e+06

In [36]:
test.duplicated(subset=['SiteId', 'Timestamp'])

obs_id
1677832    False
5379616    False
496261     False
4567147    False
3684873    False
           ...
6226412    False
4466872    False
2951966    False
6044913    False
6704022    False
Length: 1309176, dtype: bool

In [37]:
test.count()

SiteId        1309176
Timestamp     1309176
ForecastId    1309176
Value         1290114
dtype: int64

In [38]:
test.isna().sum()

SiteId            0
Timestamp         0
ForecastId        0
Value         19062
dtype: int64

### Train Data

In [39]:
train.count()

SiteId        6559830
Timestamp     6559830
ForecastId    6559830
Value         6473229
dtype: int64

In [40]:
train.isna().sum()

SiteId            0
Timestamp         0
ForecastId        0
Value         86601
dtype: int64

## Data formatting

In [41]:
def process_time(df):
    
    df['Timestamp'] = pd.to_datetime(df['Timestamp'])
    df = df.set_index('Timestamp')
    
    df['min'] = df.index.minute
    df['hour'] = df.index.hour
    df['wday'] = df.index.dayofweek
    df['mday'] = df.index.day
    df['yday'] = df.index.dayofyear
    df['month'] = df.index.month
    df['year'] = df.index.year
    
    df['time'] = df['hour'] + (df['min'] / 60)
    df = df.drop(columns=['hour', 'min'])
        
    df['wday_sin'] = np.sin(2 * np.pi * df['wday'] / 6)
    df['wday_cos'] = np.cos(2 * np.pi * df['wday'] / 6)
    
    df['yday_sin'] = np.sin(2 * np.pi * df['yday'] / 365)
    df['yday_cos'] = np.cos(2 * np.pi * df['yday'] / 365)
    
    df['month_sin'] = np.sin(2 * np.pi * df['month'] / 12)
    df['month_cos'] = np.cos(2 * np.pi * df['month'] / 12)
    
    df['time_sin'] = np.sin(2 * np.pi * df['time'] / 24)
    df['time_cos'] = np.cos(2 * np.pi * df['time'] / 24)
    
    df = df.reset_index(level=0)
    
    return df

train = process_time(train)
test = process_time(test)

In [42]:
train.head()

,Timestamp,SiteId,ForecastId,Value,wday,mday,yday,month,year,time,wday_sin,wday_cos,yday_sin,yday_cos,month_sin,month_cos,time_sin,time_cos
0,2014-09-03,1,1,9.096555e+05,2,3,246,9,2014,0.0,8.660254e-01,-0.5,-0.888057,-0.459733,-1.0,-1.836970e-16,0.0,1.0
1,2014-09-04,1,1,1.748273e+06,3,4,247,9,2014,0.0,1.224647e-16,-1.0,-0.895839,-0.444378,-1.0,-1.836970e-16,0.0,1.0
2,2014-09-05,1,1,NaN,4,5,248,9,2014,0.0,-8.660254e-01,-0.5,-0.903356,-0.428892,-1.0,-1.836970e-16,0.0,1.0
3,2014-09-06,1,1,NaN,5,6,249,9,2014,0.0,-8.660254e-01,0.5,-0.910605,-0.413279,-1.0,-1.836970e-16,0.0,1.0
4,2014-09-07,1,1,NaN,6,7,250,9,2014,0.0,-2.449294e-16,1.0,-0.917584,-0.397543,-1.0,-1.836970e-16,0.0,1.0

## Process meta data

In [43]:
site_ids = set(meta['SiteId'])
all_meta = pd.DataFrame(columns=['SiteId', 'wday', 'off'])

for site in site_ids:
    # Extract the metadata information for the site
    meta_slice = meta.loc[meta['SiteId'] == site]
    
    # Create a new dataframe for the site
    site_meta = pd.DataFrame(
        columns=['SiteId', 'wday', 'off', 'BaseTemperature', 'Surface'],
        index = [0, 1, 2, 3, 4, 5, 6]
    )
    

    site_meta['wday'] = [0, 1, 2, 3, 4, 5, 6]
    site_meta['SiteId'] = site

    # Record the days off
    site_meta.loc[0, 'off'] = float(meta_slice['MondayIsDayOff'])
    site_meta.loc[1, 'off'] = float(meta_slice['TuesdayIsDayOff'])
    site_meta.loc[2, 'off'] = float(meta_slice['WednesdayIsDayOff'])
    site_meta.loc[3, 'off'] = float(meta_slice['ThursdayIsDayOff'])
    site_meta.loc[4, 'off'] = float(meta_slice['FridayIsDayOff'])
    site_meta.loc[5, 'off'] = float(meta_slice['SaturdayIsDayOff'])
    site_meta.loc[6, 'off'] = float(meta_slice['SundayIsDayOff'])

    site_meta['BaseTemperature'] = float(meta_slice['BaseTemperature'])
    site_meta['Surface'] = float(meta_slice['Surface'])
    
    # Append the resulting dataframe to all site dataframe
    all_meta = pd.concat([all_meta, site_meta])

all_meta.head()

  SiteId wday  off  BaseTemperature      Surface
0      1    0  0.0             18.0  1387.205119
1      1    1  0.0             18.0  1387.205119
2      1    2  0.0             18.0  1387.205119
3      1    3  0.0             18.0  1387.205119
4      1    4  0.0             18.0  1387.205119

In [44]:
# Find the days off in the training and testing data
train = train.merge(all_meta, how = 'left', on = ['SiteId', 'wday'])
test = test.merge(all_meta, how = 'left', on = ['SiteId', 'wday'])

train.head()
test.head()

,Timestamp,SiteId,ForecastId,Value,wday,mday,yday,month,year,time,...,wday_cos,yday_sin,yday_cos,month_sin,month_cos,time_sin,time_cos,off,BaseTemperature,Surface
0,2015-08-29,1,1,7.413780e+06,5,29,241,8,2015,0.0,...,0.5,-0.845249,-0.534373,-0.866025,-5.000000e-01,0.0,1.0,1.0,18.0,1387.205119
1,2015-08-30,1,1,8.927612e+06,6,30,242,8,2015,0.0,...,1.0,-0.854322,-0.519744,-0.866025,-5.000000e-01,0.0,1.0,1.0,18.0,1387.205119
2,2015-08-31,1,1,7.288439e+06,0,31,243,8,2015,0.0,...,1.0,-0.863142,-0.504961,-0.866025,-5.000000e-01,0.0,1.0,0.0,18.0,1387.205119
3,2015-09-01,1,1,8.399679e+06,1,1,244,9,2015,0.0,...,0.5,-0.871706,-0.490029,-1.000000,-1.836970e-16,0.0,1.0,0.0,18.0,1387.205119
4,2015-09-02,1,1,7.576456e+06,2,2,245,9,2015,0.0,...,-0.5,-0.880012,-0.474951,-1.000000,-1.836970e-16,0.0,1.0,0.0,18.0,1387.205119

In [45]:
train.columns

Index(['Timestamp', 'SiteId', 'ForecastId', 'Value', 'wday', 'mday', 'yday',
       'month', 'year', 'time', 'wday_sin', 'wday_cos', 'yday_sin', 'yday_cos',
       'month_sin', 'month_cos', 'time_sin', 'time_cos', 'off',
       'BaseTemperature', 'Surface'],
      dtype='object')

## Process weather data

In [55]:
weather['Timestamp'] = pd.to_datetime(weather['Timestamp'])
weather = weather.set_index('Timestamp')

weather.index = weather.index.round(freq='15 min')
weather['min'] = weather.index.minute
weather['hour'] = weather.index.hour
weather['mday'] = weather.index.day
weather['month'] = weather.index.month
weather['year'] = weather.index.year
weather = weather.reset_index(level=0)

weather.head()

,Timestamp,Temperature,Distance,SiteId,min,hour,wday,mday,yday,month,year
0,2013-12-31 19:00:00,-7.2,24.889929,1,0,19,1,31,365,12,2013
1,2013-12-31 19:00:00,-8.3,23.303097,1,0,19,1,31,365,12,2013
2,2013-12-31 19:00:00,-7.8,20.952256,1,0,19,1,31,365,12,2013
3,2013-12-31 19:00:00,-8.0,20.952256,1,0,19,1,31,365,12,2013
4,2013-12-31 19:30:00,-8.1,16.610602,1,30,19,1,31,365,12,2013

In [53]:
train.head()

,Timestamp,SiteId,ForecastId,Value,wday,mday,yday,month,year,time,...,yday_cos,month_sin,month_cos,time_sin,time_cos,off,BaseTemperature,Surface,Temperature,Distance
7587405,2009-06-23 06:45:00,297,6603,96408.826731,1,23,174,6,2009,6.75,...,-0.989314,1.224647e-16,-1.0,0.980785,-0.195090,0.0,18.0,19608.574928,14.0,1.707966
7587406,2009-06-23 07:45:00,297,6603,76800.251802,1,23,174,6,2009,7.75,...,-0.989314,1.224647e-16,-1.0,0.896873,-0.442289,0.0,18.0,19608.574928,15.0,1.707966
7587407,2009-06-23 08:45:00,297,6603,75166.203892,1,23,174,6,2009,8.75,...,-0.989314,1.224647e-16,-1.0,0.751840,-0.659346,0.0,18.0,19608.574928,16.0,1.707966
7587408,2009-06-23 09:45:00,297,6603,71898.108070,1,23,174,6,2009,9.75,...,-0.989314,1.224647e-16,-1.0,0.555570,-0.831470,0.0,18.0,19608.574928,18.0,1.707966
7587409,2009-06-23 10:45:00,297,6603,73532.155981,1,23,174,6,2009,10.75,...,-0.989314,1.224647e-16,-1.0,0.321439,-0.946930,0.0,18.0,19608.574928,21.0,1.707966

In [47]:
def add_weather(df: pd.DataFrame, weather: pd.DataFrame):
    
    original_length = len(df)
    
    df = pd.merge(df, weather, how = 'left', on = ['Timestamp', 'SiteId'])
    
    df = df.sort_values(['Timestamp', 'SiteId', 'Distance'])
    df = df.drop_duplicates(['Timestamp', 'SiteId'], keep='first')
    
    new_length = len(df)
    
    assert original_length == new_length, 'New Length must match original length'

    return df

train = add_weather(train, weather)
test = add_weather(test, weather)

In [52]:
train.isna().sum()

Timestamp                0
SiteId                   0
ForecastId               0
Value                86601
wday                     0
mday                     0
yday                     0
month                    0
year                     0
time                     0
wday_sin                 0
wday_cos                 0
yday_sin                 0
yday_cos                 0
month_sin                0
month_cos                0
time_sin                 0
time_cos                 0
off                      0
BaseTemperature          0
Surface                  0
Temperature        4318750
Distance           4318750
dtype: int64

In [48]:
train.head()

,Timestamp,SiteId,ForecastId,Value,wday,mday,yday,month,year,time,...,yday_cos,month_sin,month_cos,time_sin,time_cos,off,BaseTemperature,Surface,Temperature,Distance
7587405,2009-06-23 06:45:00,297,6603,96408.826731,1,23,174,6,2009,6.75,...,-0.989314,1.224647e-16,-1.0,0.980785,-0.195090,0.0,18.0,19608.574928,14.0,1.707966
7587406,2009-06-23 07:45:00,297,6603,76800.251802,1,23,174,6,2009,7.75,...,-0.989314,1.224647e-16,-1.0,0.896873,-0.442289,0.0,18.0,19608.574928,15.0,1.707966
7587407,2009-06-23 08:45:00,297,6603,75166.203892,1,23,174,6,2009,8.75,...,-0.989314,1.224647e-16,-1.0,0.751840,-0.659346,0.0,18.0,19608.574928,16.0,1.707966
7587408,2009-06-23 09:45:00,297,6603,71898.108070,1,23,174,6,2009,9.75,...,-0.989314,1.224647e-16,-1.0,0.555570,-0.831470,0.0,18.0,19608.574928,18.0,1.707966
7587409,2009-06-23 10:45:00,297,6603,73532.155981,1,23,174,6,2009,10.75,...,-0.989314,1.224647e-16,-1.0,0.321439,-0.946930,0.0,18.0,19608.574928,21.0,1.707966

In [49]:
train.isna().sum()

Timestamp                0
SiteId                   0
ForecastId               0
Value                86601
wday                     0
mday                     0
yday                     0
month                    0
year                     0
time                     0
wday_sin                 0
wday_cos                 0
yday_sin                 0
yday_cos                 0
month_sin                0
month_cos                0
time_sin                 0
time_cos                 0
off                      0
BaseTemperature          0
Surface                  0
Temperature        4318750
Distance           4318750
dtype: int64

In [50]:
from sklearn.impute import SimpleImputer

In [51]:


def process(site):
	print("Current site ", site)
	# Drop duplicate in testing data
	test_df = test[test['SiteId'] == site].sort_values(['Timestamp', 'Distance'])
	test_df = test_df.drop_duplicates(['Timestamp'], keep='first')

	# Drop duplicate in training data
	train_df = train[train['SiteId'] == site].sort_values(['Timestamp', 'Distance'])
	train_df = train_df.drop_duplicates(['Timestamp'], keep='first')

	# Filter to only use past training data
	train_df = train_df[train_df['Timestamp'] < test_df['Timestamp'].min()]

	if(len(train_df) <= 0): 
		return

	# Impute the missing values
	value_median_imputer = SimpleImputer(missing_values=np.nan, strategy='median')
	value_median_imputer.fit(train_df[['Value']])

	if pd.isnull(train_df['Value']).all():
		train_df['Value'] = 0
	else:
		train_df['Value'] = value_median_imputer.transform(train_df[['Value']])

	# If all training temperatures are missing, drop temperatures from both training and testing
	if (np.all(np.isnan(train_df['Temperature']))) or (np.all(np.isnan(test_df['Temperature']))):
		train_df = train_df.drop(labels = 'Temperature', axis=1)
		test_df = test_df.drop(labels= 'Temperature', axis=1)

	# Otherwise impute the missing temperatures
	else:
		temp_median_imputer = SimpleImputer(missing_values=np.nan, strategy='median')
		temp_median_imputer.fit(train_df[['Temperature']])
		train_df['Temperature'] = temp_median_imputer.transform(train_df[['Temperature']])
		test_df['Temperature'] = temp_median_imputer.transform(test_df[['Temperature']])

	# Extract labels
	train_labels = train_df['Value']

	# Drop columns
	train_df = train_df.drop(columns = ['Distance', 'SiteId', 'ForecastId', 'Value'])
	test_df = test_df.drop(columns = ['Distance', 'SiteId', 'ForecastId', 'Value'])

	return train_df, train_labels, test_df

site_list = list(set(train['SiteId']))

for site in site_list:
	process(site)

Current site  1
Current site  2
Current site  3
Current site  5
Current site  6
Current site  7
Current site  8
Current site  9
Current site  10
Current site  11
Current site  12
Current site  13
Current site  14
Current site  15
Current site  16
Current site  17
Current site  18
Current site  19
Current site  20
Current site  21
Current site  22
Current site  23
Current site  25
Current site  26
Current site  27
Current site  29
Current site  32
Current site  33
Current site  34
Current site  38
Current site  39
Current site  40
Current site  41
Current site  42
Current site  43
Current site  44
Current site  45
Current site  46
Current site  47
Current site  48
Current site  49
Current site  50
Current site  51
Current site  52
Current site  53
Current site  54
Current site  57
Current site  58
Current site  59
Current site  60
Current site  61
Current site  62
Current site  63
Current site  64
Current site  65
Current site  66
Current site  67
Current site  68
Current site  69
Current site  70
Current site  72
Current site  73
Current site  74
Current site  75
Current site  76
Current site  77
Current site  78
Current site  83
Current site  84
Current site  85
Current site  86
Current site  87
Current site  88
Current site  89
Current site  90
Current site  92
Current site  93
Current site  94
Current site  96
Current site  98
Current site  99
Current site  100
Current site  101
Current site  102
Current site  105
Current site  106
Current site  107
Current site  108
Current site  109
Current site  110
Current site  111
Current site  112
Current site  115
Current site  116
Current site  117
Current site  118
Current site  119
Current site  120
Current site  121
Current site  122
Current site  123
Current site  124
Current site  125
Current site  126
Current site  127
Current site  128
Current site  129
Current site  130
Current site  131
Current site  132
Current site  134
Current site  135
Current site  136
Current site  139
Current site  140
Current site  141
Current site  142
Current site  143
Current site  145
Current site  146
Current site  148
Current site  149
Current site  150
Current site  151
Current site  152
Current site  153
Current site  154
Current site  155
Current site  156
Current site  157
Current site  158
Current site  159
Current site  160
Current site  161
Current site  162
Current site  163
Current site  164
Current site  165
Current site  167
Current site  169
Current site  170
Current site  171
Current site  172
Current site  173
Current site  174
Current site  175
Current site  176
Current site  177
Current site  178
Current site  180
Current site  181
Current site  182
Current site  183
Current site  184
Current site  185
Current site  186
Current site  189
Current site  190
Current site  191
Current site  192
Current site  193
Current site  194
Current site  195
Current site  196
Current site  197
Current site  198
Current site  199
Current site  200
Current site  201
Current site  202
Current site  203
Current site  204
Current site  205
Current site  206
Current site  207
Current site  208
Current site  209
Current site  210
Current site  211
Current site  212
Current site  213
Current site  215
Current site  216
Current site  217
Current site  218
Current site  219
Current site  221
Current site  222
Current site  223
Current site  224
Current site  225
Current site  226
Current site  227
Current site  228
Current site  229
Current site  230
Current site  231
Current site  232
Current site  233
Current site  234
Current site  235
Current site  236
Current site  237
Current site  238
Current site  239
Current site  240
Current site  241
Current site  243
Current site  244
Current site  245
Current site  246
Current site  247
Current site  248
Current site  249
Current site  250
Current site  251
Current site  252
Current site  253
Current site  254
Current site  255
Current site  256
Current site  257
Current site  259
Current site  260
Current site  261
Current site  262
Current site  263
Current site  264
Current site  265
Current site  266
Current site  267
Current site  268
Current site  269
Current site  270
Current site  271
Current site  272
Current site  273
Current site  274
Current site  275
Current site  276
Current site  277
Current site  278
Current site  279
Current site  280
Current site  281
Current site  282
Current site  283
Current site  284
Current site  285
Current site  286
Current site  287
Current site  288
Current site  289
Current site  290
Current site  292
Current site  293
Current site  294
Current site  295
Current site  297
Current site  298
Current site  299
Current site  300
Current site  301
Current site  302
Current site  303
Current site  304
Current site  305

In [99]:
train.to_csv('../data/train_processed.csv', index = False)
test.to_csv('../data/test_processed.csv', index = False)